extends ../layout/app.pug
block content 
    h1 &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
    div
    p
        | &Dcy;&acy;&ncy;&ncy;&ycy;&jcy; &pcy;&rcy;&ocy;&iecy;&kcy;&tcy; &pcy;&rcy;&iecy;&dcy;&ncy;&acy;&zcy;&ncy;&acy;&chcy;&iecy;&ncy; &dcy;&lcy;&yacy; &pcy;&ocy;&mcy;&ocy;&shchcy;&icy; &vcy;&acy;&mcy; &vcy; &pcy;&ocy;&scy;&tcy;&rcy;&ocy;&iecy;&ncy;&icy;&icy; &pcy;&rcy;&acy;&vcy;&icy;&lcy;&softcy;&ncy;&ocy;&gcy;&ocy; &pcy;&icy;&tcy;&acy;&ncy;&icy;&yacy; &icy; &vcy;&iecy;&dcy;&iecy;&ncy;&icy;&yucy; &zcy;&dcy;&ocy;&rcy;&ocy;&vcy;&ocy;&gcy;&ocy; &ocy;&bcy;&rcy;&acy;&zcy;&acy; &zhcy;&icy;&zcy;&ncy;&icy;.
        | &Scy;&chcy;&iecy;&tcy;&chcy;&icy;&kcy; &kcy;&acy;&lcy;&ocy;&rcy;&icy;&iecy;&vcy; - &vcy; &zcy;&acy;&vcy;&icy;&scy;&icy;&mcy;&ocy;&scy;&tcy;&icy; &ocy;&tcy; &vcy;&acy;&shcy;&icy;&khcy; &pcy;&ocy;&kcy;&acy;&zcy;&acy;&tcy;&iecy;&lcy;&iecy;&jcy; &rcy;&acy;&scy;&chcy;&icy;&tcy;&acy;&iecy;&tcy; &vcy;&acy;&shcy;&ucy; &scy;&ucy;&tcy;&ocy;&ncy;&ucy;&yucy; &ncy;&ocy;&rcy;&mcy;&ucy; &kcy;&acy;&lcy;&ocy;&rcy;&icy;&iecy;&vcy;. &Rcy;&acy;&zcy;&dcy;&iecy;&lcy; &rcy;&acy;&scy;&chcy;&iecy;&tcy;&acy; &vcy;&ocy;&dcy;&yacy;&ncy;&ocy;&gcy;&ocy;
        | &bcy;&acy;&lcy;&acy;&ncy;&scy;&acy; &rcy;&acy;&scy;&chcy;&icy;&tcy;&acy;&iecy;&tcy; &kcy;&ocy;&lcy;&icy;&chcy;&iecy;&scy;&tcy;&vcy;&ocy; &lcy;&icy;&tcy;&rcy;&ocy;&vcy;, &kcy;&ocy;&tcy;&ocy;&rcy;&ycy;&iecy; &ncy;&ucy;&zhcy;&ncy;&ycy; &vcy;&acy;&shcy;&iecy;&mcy;&ucy; &ocy;&rcy;&gcy;&acy;&ncy;&icy;&zcy;&mcy;&ucy;...
    p &Scy;&chcy;&iecy;&tcy;&chcy;&icy;&kcy; &kcy;&acy;&lcy;&ocy;&rcy;&icy;&iecy;&vcy;...
    p &Rcy;&acy;&scy;&chcy;&iecy;&tcy; &vcy;&ocy;&dcy;&yacy;&ncy;&ocy;&gcy;&ocy; &bcy;&acy;&lcy;&acy;&ncy;&scy;&acy;...
    p &Scy;&chcy;&iecy;&tcy;&chcy;&icy;&kcy; &bcy;&iecy;&lcy;&kcy;&acy;...
    p &Icy;&scy;&tcy;&ocy;&rcy;&icy;&yacy; &rcy;&acy;&scy;&chcy;&iecy;&tcy;&ocy;&vcy;...