doctype html
head
  meta(charset='UTF-8')
  
  title Клевер здоровья - #{title}
//-   style
//-     include ../../css/style.css
header.container-header
  h2.logo-text Клевер здоровья
  a(href='#') Войти
  a(href='#') Зарегистрироваться
main.main
  nav.nav
    ul
      li
        a(href='/') Главная
      li
        a(href='#') Советы врачей
      li
        a(href='/calories') Счетчик калориев
      li
        a(href='/balance') Расчет водяного баланса
      li
        a(href='/protein') Счетчик белка
      li
        a(href='#') История расчетов
  block content
  footer
    a &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
    a &Pcy;&ocy;&dcy;&dcy;&iecy;&rcy;&zhcy;&kcy;&acy;
    a &Ocy; &ncy;&acy;&scy;
