doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet', href='css/style.css')
  title Клевер здоровья - #{title}
  script(defer='', type='module', src='./src/application.js')
  script(defer='', type='module', src='./src/buttonSwitch.js')
  script(defer='', type='module', src='./src/index.js')
header.container-header
  h2.logo-text T&vcy;&ocy;&iecy; &tcy;&iecy;&lcy;&ocy; - &ecy;&tcy;&ocy; &tcy;&vcy;&ocy;&jcy; &bcy;&icy;&zcy;&ncy;&iecy;&scy;&scy;!
  a(href='#') &Vcy;&ocy;&jcy;&tcy;&icy;
  a(href='#') &Zcy;&acy;&rcy;&gcy;&icy;&scy;&tcy;&rcy;&icy;&rcy;&ocy;&vcy;&acy;&tcy;&softcy;&scy;&yacy;
main.main
  nav.nav
    ul
      li
        a(href='#') &Gcy;&lcy;&acy;&vcy;&ncy;&acy;&yacy;
      li
        a(href='#') &Scy;&chcy;&iecy;&tcy;&chcy;&icy;&kcy; &kcy;&acy;&lcy;&ocy;&rcy;&icy;&iecy;&vcy;
      li
        a(href='#') &Rcy;&acy;&scy;&chcy;&iecy;&tcy; &vcy;&ocy;&dcy;&yacy;&ncy;&ocy;&gcy;&ocy; &bcy;&acy;&lcy;&acy;&ncy;&scy;&acy;
      li
        a(href='#') &Scy;&chcy;&iecy;&tcy;&chcy;&icy;&kcy; &bcy;&iecy;&lcy;&kcy;&acy;
      li
        a(href='#') &Icy;&scy;&tcy;&ocy;&rcy;&icy;&yacy; &rcy;&acy;&scy;&chcy;&iecy;&tcy;&ocy;&vcy;
  block content
  footer
    a &Kcy;&ocy;&ncy;&tcy;&acy;&kcy;&tcy;&ycy;
    a &Pcy;&ocy;&dcy;&dcy;&iecy;&rcy;&zhcy;&kcy;&acy;
    a &Ocy; &ncy;&acy;&scy;
